.search-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search-input-wrapper {
  position: relative;
}
.search-form {
  width: 100%;
  .form-group {
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: $white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-bottom: 0;
    float: right;
    input.form-control {
      padding: .25rem 2rem 0 0.75rem;
      border: 0 none;
      background: transparent;
      box-shadow: none;
      display: block;
      line-height: 0;
      &::-webkit-input-placeholder {
        display: none;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        display: none;
      }
      :-ms-input-placeholder {
        display: none;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        display: none;
      }
    }
    &:hover {
      width: 100%;
      border-radius: 25px 25px 25px 25px;
    }
    span.form-control-feedback {
      position: absolute;
      top: -1px;
      right: -2px;
      z-index: 2;
      display: block;
      width: 34px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      color: #3596e0;
      left: initial;
      font-size: 14px;
    }
  }
  .fas {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.result {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  p {
    margin: 0;
    padding: 7px 10px;
    border-top: none;
    cursor: pointer;
    color: #0f0f0f;
    background: #f2f2f2;
    &:hover {
      background: $darkorange;
      color: $white;
    }
  }
}